.App-header h1 {
  color: #61dafb;
  background-color: #282c34;
  text-align: center;
  margin: 0;
  padding: 0.5em;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

/* .MovieSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
} */

.search-input {
  padding: 10px;
  height: 20px;
  width: fit-available;
  border: 1px solid black;
  margin: 10px;
  font-size: 18px;
  text-transform: capitalize;
}

.pos-rel {
  position: relative;
}

.divDropdown {
  position: absolute;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: goldenrod;
  background-color: whitesmoke;
  right: 10px;
  top: 52px;
  width: fit-available;
}

.dropdownlists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.dropdownlists,
span {
  font-size: 18px;
  text-transform: capitalize;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.movie {
  padding: 5px;
  width: 30%;
  margin: 5px 5px 13px 10px;
  float: left;
  font-size: 0.8em;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

button {
  background-color: crimson;
  color: white;
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
button:hover {
  cursor: pointer;
  box-shadow: rgba(10, 150, 50, 0.25) 5px 10px 15px 5px;
  transform: translate3d(0px, -5px, 0px);
}

.no-result {
  color: red;
}
